<h1>Edit Worker</h1>

<form action="/workers/<%= worker.id %>?_method=PUT" method="POST">
    <input name="first_name" value="<%= worker.first_name %>" required><br><br>
    <input name="last_name" value="<%= worker.last_name %>" required><br><br>
    <input name="email" value="<%= worker.email %>"><br><br>
    <input name="phone" value="<%= worker.phone %>"><br><br>
    <input name="trade" value="<%= worker.trade %>"><br><br>
    <input name="hourly_rate" type="number" step="0.01" value="<%= worker.hourly_rate %>"><br><br>
    <input name="overtime_rate" type="number" step="0.01" value="<%= worker.overtime_rate %>"><br><br>

    <button type="submit">Update</button>
</form>

<br>
<a href="/workers">Back</a>